@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-main: "Roboto", sans-serif;
  --font-serif: "Roboto Slab", serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

body {
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

.main-layout {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $breakpoint-desktop) {
    display: grid;
    grid-template-columns: 280px 1fr 300px;
    gap: 24px;
  }
}
