$breakpoint-mobile: 360px;
$breakpoint-desktop: 1024px;
$primary-blue: #4b99f5;
$secondary-blue: #335f94;
$header-bg: #343434;
$hr: #ffffff1a;
$header-text: #ffffff;
$header-text-secondary: #ffffff8a;
$primary-orange: #ff891d;
$black: #000000;
$tag-bg: #0000000d;
$tag-color: #000000cc;
$grey: #0000008a;
